body
{
}
header
{
    display: flex;
    justify-content: space-between;
}

#header-leftContainer
{
    display: flex;
}

#header-rightContainer>img:nth-child(6)
{
    margin-right: 10px;
}

main
{
    width: 100%;
    margin: auto;
}



/*
width sets the the width of the container. and margin auto fits to width
*/
/*
anything with the same class name will inherent the parent tags same name attributes/properties
*/
/*
    margin: 100%;
    margin: auto 100%;
    position: relative;/*avoid using this with flex
    */

    h1 {
        font-family: cursive;
        font-weight: 700;
    }
    
    h2 {
        font-family:'Courier New', Courier, monospace;
        font-size: .5em;
    }

    h3 {
        font-size: 25pt;
        font-family: 'Oswald', sans-serif;
        margin-left: 00px;
        font-weight: 700;
    }
    
    h3 ~ div {
        margin-left: 90px;
        color:  rgb(191, 191, 191);
        font-family: 'Oswald', sans-serif;
        font-size: 10pt;
        display: flex;
        justify-content: space-between;
    }
    
    p ~ img {
        margin-right: 150px;
    }
    
    #hero {
        display: block;
        margin: auto;
        max-width: 800px;
    }  

    #print
    {
        display: flex;
        margin-right: 50px;
    }




    
