
/******************************Raul edits (DOWNWARDS)**********************************/
body
{
}
header
{
    display: flex;
    justify-content: space-between;
}

#header-leftContainer
{
    display: flex;
}

#header-rightContainer>img:nth-child(6)
{
    margin-right: 10px;
}

main
{
    width: 100%;
    margin: auto;
}
/******************************Raul edits (UPWARDS ^)**********************************/


/*
width sets the the width of the container. and margin auto fits to width
*/
/*
anything with the same class name will inherent the parent tags same name attributes/properties
*/
/*
    margin: 100%;
    margin: auto 100%;
    position: relative;/*avoid using this with flex
    */

    h1 {
        font-family: cursive;
        font-weight: 700;
    }
    
    h2 {
        font-family:'Courier New', Courier, monospace;
        font-size: .5em;
    }

    h3 {
        font-size: 25pt;
        font-family: 'Oswald', sans-serif;
        margin-left: 00px;
        font-weight: 700;
    }
    
    h3 ~ div {
        margin-left: 90px;
        color:  rgb(191, 191, 191);
        font-family: 'Oswald', sans-serif;
        font-size: 10pt;
        display: flex;
        justify-content: space-between;
    }
    
    p ~ img {
        margin-right: 150px;
    }
    
    #hero {
        display: block;
        margin: auto;
        max-width: 800px;
    }  

    #print
    {
        display: flex;
        margin-right: 50px;
    }
/* #PRINT GOES HERE */

.paragraphs {
    margin: 20px 90px;
    text-indent: 40px;
    color: darkgray;
    line-height: 1.2;
  }
  
  #notebook {
    width: 90%;
  }
  
  #recipeListTotal {
    display: block;
    margin: 30px;
    position: relative;
    text-align: center;
  }
  
  #ingredients 
  {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100%;
  }
  
  ul
  {
    font-size: 16pt;
    text-align: left;
    line-height: 1.5;
    list-style-type: circle;
  }

/******************************Raul edits (DOWNWARDS)**********************************/

#bio
{
    display: flex;
    justify-content: space-evenly;
}
/*

    justify-content: space-between;
    display: flex;
    margin-top: 100px auto;
    margin: 100px auto;
*/
#enthusiast
{
    display:list-item;
    list-style-type: none;

}

button
{
    background-color: rgb(212, 56, 8);
    color: white;
    width: 200px;
    height: 50px;
    border: none;
}

footer
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

}


/******************************Raul edits (UPWARDS ^)**********************************/



